html {
  line-height: 1.15; /* 1 */
  overflow: auto !important;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

